<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Tripting</title>
    <style>
        
    </style>
</head>
<body>
    <header>
        <h1>Bienvenido a Tripting</h1>
        <p>Tu compañero de viaje digital para una experiencia sin preocupaciones</p>
    </header>
    <div class="container">
        <p>Tripting es una API en desarrollo diseñada para facilitar la organización y planificación de tus viajes. Desde la división de gastos hasta el seguimiento del clima, Tripting te ofrece todas las herramientas necesarias para que tu viaje sea inolvidable.</p>
    </div>

    <footer>
        <div class="container">
            <p>Desarrollado por: Eliana Sperat</p>
            <p>Materia: Aplicaciones Híbridas</p>
            <p>Docente: Camila Belén Marcos Galbán</p>
            <p>Comisión y Año: DMN4BP - 2024</p>
        </div>
    </footer>
    
</body>
</html>